name: Automatic promtion
on:
  push:
    branches:
      - develop
jobs:
  release_pull_request:
    runs-on: ubuntu-latest
    name: release_pull_request
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Create PR to branch
      uses: peter-evans/create-pull-request@v3
      with:
        branch: 'qa'
        labels: |
            report
            automated pr
        assignees: peter-evans
        reviewers: peter-evans
        team-reviewers: |
          owners
          maintainers
        milestone: 1
        draft: false
    - name: Check outputs
      run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITBOT_EMAIL: <BOT_EMAIL>
        DRY_RUN: false
      
